<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-pro">
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">haha </a>
                    <ul aria-expanded="false" class="collapse">
                      
                        <li>
                          
                        </li>
                    </ul>
                </li>

                <li class="nav-small-cap">--- Dashboard</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <span class="hide-menu">Dashboard</span>
                    </a>
                    <ul class="collapse">
                       <!-- <li><a th:href="${home + 'data/reset'}"></a></li> -->
                        
                        <li><a aria-haspopup="" >Dashboard</a></li>
                    </ul>
                </li>

                <li class="nav-small-cap">--- Alert</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <span class="hide-menu">Alert</span>
                    </a>
                    <ul class="collapse">
                      
                        <li><a asp_controller="ALert" asp-action="Index">Update Alert</a></li>
                    </ul>
                    </ul>
                
          
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
